DATASOURCE_URL=jdbc:mysql://localhost:3306/mealtime?useSSL=false
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=password
RECIPE_IMPORTER_SERVICE_ENDPOINT=http://localhost:8082/import

CORS_ALLOWED_ORIGINS=http://localhost:3000
AUTH_ISSUER_URI=http://localhost:8080/realms/mealtime